<div class="media-element">
  <div class="media">
    <img src="assets/images/ep-II-cover.jpg" />
  </div>

  <div class="meta">
    <h2>Kid Calloway's nieuwe EP "II"</h2>
    <h3>Vanaf 22 september te streamen op:</h3>
    <ul class="streams">
      <li><img src="assets/images/spotify.png" /></li>
      <li><img src="assets/images/soundcloud.png" /></li>
      <li><img src="assets/images/applemusic.png" /></li>
      <li><img src="assets/images/amazon.png" /></li>
      <li><img src="assets/images/googlemusic.png" /></li>
      <li><img src="assets/images/deezer.png" /></li>
    </ul>
  </div>
</div>