<div class="media-element">
  <div class="media">
    <img src="assets/images/ep-II-cover.jpg" />
  </div>

  <div class="meta">
    <h2>Kid Calloway's nieuwe EP "II"</h2>
    <h3>Vanaf 22 september te streamen op:</h3>
    <ul class="streams">
      <li><a href="https://open.spotify.com/album/2C3Rf7mXqreLtqcC9nVa6E" target="_blank"><img src="assets/images/spotify.png" /></a></li>
      <li><a href="https://itunes.apple.com/us/album/ii-single/id1281318528" target="_blank"><img src="assets/images/applemusic.png" /></a></li>
      <li><a href="https://www.amazon.com/II-Kid-Calloway/dp/B075YBNJDG/" target="_blank"><img src="assets/images/amazon.png" /></a></li>
      <li><a href="https://play.google.com/store/music/album/Kid_Calloway_II?id=Bammjr5lycg7as4tbssogj23j2q" target="_blank"><img src="assets/images/googlemusic.png" /></a></li>
      <li><a href="http://www.deezer.com/us/album/47844042" target="_blank"><img src="assets/images/deezer.png" /></a></li>
    </ul>
  </div>
</div>
