.agenda {
	@include span-columns(10);
	@include shift(1);
	
	@include pad("default");
	
	td {
		@include span-columns(2 of 10);
		@include pad();
	}
	
	$fg: flex-gutter();
	$fg2: $fg * 2;
	td.time {
		//@include pad($fg $fg2 $fg $fg);
		@include span-columns(1 of 10);
	};
	
	.date {font-weight: bold;}
	
	.venue {
		@include span-columns(3 of 10);
		
		small {
			display:block;
			color: color("backgroundColor");
		}
	}
	
	.details {
		border-left: color("backgroundColor") solid 1px;
		color: tint(color("dark"), 50);
	}
	
	.links {
		@include pad($fg $fg 0 $fg);
		
		a {display: block;}
	}
}