.channels {
	margin: 25px auto 25px;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 25px;
		text-align: center;
	}

	a {
		border-bottom: none;
	}

	.icon img {
		height: 75px;
		width: auto;
	}

	h2 {
		margin: 0;
	}

	blockquote {
		position: relative;

		font-style: italic;
		font-size: 1.1em;
		color: shade(color("light"), 30);

		text-align: center;

		margin-bottom: 25px;

		small {
			display: block;
		}
	}
}

.cta {
	@include span-columns(10);
	@include shift(1);

	@include pad("default");
    
    img {
        width: 100%;
    }
    
    .disclaimer {
        font-size: 0.8em;
        color: #999;
    }
}