.brands {
	.record-label {
		img {
			margin: 0 auto;
		    width: 245px;
		    display: block;
		}
		
		background-color: #FFFFFF;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	
	.instruments {
		li {
			display: inline;
			margin-right: 5px;
		}
	}
}