body {
	background: color("backgroundColor");
}

a {color: color("link");}
a:hover {color: color("linkHover");}
a:visited {color: tint(color("linkVisited"), 50%);}

h1 {
	text-transform: uppercase;
	
	a {
		color: color("textColor");
		
		&:hover {
			color: color("textColor");
		}
	}
}