.media {
	//@include span-columns(10);
	//@include shift(1);

	#slider {
		border-bottom: none;
		margin-bottom: 0;
		margin-top: 50px;
	}

	.flexslider {
		border-radius: 0;
		-webkit-border-radius: 0;
	}

	#carousel li {
		cursor: pointer;
	}

	.flex-direction-nav a, .flex-direction-nav a:visited {
		color:color("link");
		border-bottom: none;
		padding-bottom: 0;
		height: 50px;
	}

	.flex-direction-nav a:before {
		color:color("link");
	}

	h1 {
		text-align: center;
	}
}
