.menu {
	background: tint(color("menuBackground"), 75%);
	margin-bottom: 15px;
	height: 50px;
	
	ul {
		@include span-columns(12);
		//@include shift(1);
	}
	
	li {
		list-style: none;
		display: inline-block;
		padding-right: 25px;
		text-align: center;
		//width: 24%;
		@include span-columns(3 of 12);
		
		text-transform: uppercase;
		
		&:last-of-type {
			margin-right: 0;
		}
	}
	
	a, h2 {
		display: inherit;
		text-decoration: inherit;
		color: color("menuColor");
	}
	
	h2 {
		margin: 0;
		padding: 0
	}
}

.filler, .menu {
	@include span-columns(12);
}

.filler {
	text-align: center;
}