<footer class="footer">
    <div class="brands">
        <div class="instruments col-xs-12">
            <ul class="list-unstyled block-grid-xs-2 block-grid-sm-3 block-grid-md-5">
                <li><img src="assets/images/brands/USA_WHITE.jpg" alt="USA_WHITE" width="100" height="auto" /></li>
                <li><img src="assets/images/brands/fender_logo.jpg" alt="fender_logo" width="100" height="auto" /></li>
                <li><img src="assets/images/brands/Marshall-Amplification-Logo-Design1.jpg" alt="Marshall-Amplification-Logo-Design1" width="100" height="auto" /></li>
                <li><img src="assets/images/brands/laney_amplification_logo.jpg" alt="laney_amplification_logo" width="100" height="auto" /></li>
                <li><img src="assets/images/brands/Ashdown_Engineering.jpg" alt="Ashdown_Engineering" width="100" height="auto" /></li>
                <li><img src="assets/images/brands/logo-yamaha.jpg" alt="logo-yamaha" width="100" height="auto" /></li>
                <li><img src="assets/images/brands/logo-paiste.jpg" alt="logo-paiste" width="100" height="auto" /></li>
                <li><img src="assets/images/brands/vic_firth_logo.jpg" alt="vic_firth_logo" width="100" height="auto" /></li>
                <li><img src="assets/images/brands/SHURE_logo.jpg" alt="SHURE_logo" width="100" height="auto" /></li>
                <li><img src="assets/images/brands/tama.jpg" alt="Tama logo" width="100" height="auto" /></li>
            </ul>
        </div>

        <div class="bandphoto">
            <img src="assets/images/bandfoto.jpg" width=100% height="auto" />
        </div>
    </div>
</footer>
