.media {
    text-align: center;
    
    .icon {
        a {
            border: 0;
        }
        
        img {
           height: 50px;
           width: auto;
           vertical-align: bottom;
        }
    }
}