discography {
  display: block;

  .cover {
    margin-bottom: 25px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .track-listing {
   padding: 0;
    list-style-position: inside;

    li {
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: #919191 solid 1px;
    }
  }

  .track-name {
    margin-left: 15px;
  }

  .track-length {
    font-style: normal;
    color: #919191;
    font-size: 0.8em;
    float: right;
  }
}