<div id="live" class="container">
    <div class="agenda" ng-controller="AgendaCtrl">
        <div class="top col-xs-12">
            <h1><i class="fa fa-music"></i>Live</h1>
        </div>

        <div class="col-xs-12 errors text-center" ng-show="errors.serviceError">
            Er is iets fout gegaan met het ophalen van de shows. Maar niet getreurd: <a href="https://www.facebook.com/kidcallowaymusic/events?_rdr" target="_blank">je kan ze hier vinden</a>!
        </div>
        
        <div class="row" ng-hide="errors.serviceError">
            <h3 class="col-xs-12">Aankomende shows</h3>
            <table class="table col-xs-12">
                <tbody ng-show="!getNumberOfPlayedGigs()">
                    <tr>
                        <td>
                            <p>Er zijn momenteel geen optredens geplanned. Maar niet getreurd, ze komen er snel bij!</p>
                            <p>Wil je meteen horen wanneer we ergens spelen? Volg ons dan op <a href="https://www.facebook.com/kidcallowaymusic/events?_rdr" target="_blank">Facebook</a>!</p>
                        </td>
                    </tr>
                </tbody>

                <tbody ng-show="getNumberOfPlayedGigs()" ng-repeat="gig in gigs | filter: {played: false} | orderBy: sortByDate : reverse" ng-class="{cancelled: gig.cancelled}">
                    <tr>
                        <td class="date col-sm-2" ng-bind="gig.date.formatted"></td>
                        <td class="venue col-sm-3" >
                            <span ng-bind-html="gig.venueName"></span> <small><a ng-href="https://www.google.com/maps/place/{{gig.venueAddress}}" target="_blank" ng-bind="gig.venueAddress"></a></small>
                        </td>
                        <td class="timecol-sm-1" ng-bind="gig.time"></td>
                        <td class="details hidden-xs col-sm-5" ng-bind="gig.details"></td>
                        <td class="links hidden-xs col-sm-1">
                            <a ng-href="{{gig.ticketLink}}" ng-if="gig.ticketLink" target="_blank" title="Haal hier je tickets!">
                                <i class="fa fa-lg fa-ticket"></i>
                            </a>
                            
                            <a href="{{gig.fbEvent}}" ng-show="gig.fbEvent" target="_blank" title="Geef je op voor het Facebookevent!">
                                <i class="fa fa-lg fa-facebook-official"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="visible-xs">
                        <td class="details" colspan="2" ng-bind="gig.details"></td>
                        <td class="links">
                            <a ng-href="{{gig.ticketLink}}" ng-if="gig.ticketLink" target="_blank" title="Haal hier je tickets!">
                                <i class="fa fa-lg fa-ticket"></i>
                            </a>
                            
                            <a href="{{gig.fbEvent}}" ng-show="gig.fbEvent" target="_blank" title="Geef je op voor het Facebookevent!">
                                <i class="fa fa-lg fa-facebook-official"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <h3 class="col-xs-12">Recente shows</h3>
            <table class="table col-xs-12">
                <tbody ng-repeat="gig in gigs | filter:{played: true} | orderBy: sortByDate: true | limitTo: 5" ng-class="{cancelled: gig.cancelled}">
                    <tr>
                        <td class="date col-sm-2" ng-bind="gig.date.formatted"></td>
                        <td class="venue col-sm-3" >
                            <span ng-bind-html="gig.venueName"></span> <small><a ng-href="https://www.google.com/maps/place/{{gig.venueAddress}}" target="_blank" ng-bind="gig.venueAddress"></a></small>
                        </td>
                        <td class="timecol-sm-1" ng-bind="gig.time"></td>
                        <td class="details hidden-xs col-sm-5" ng-bind="gig.details"></td>
                        <td class="links hidden-xs col-sm-1">
                            <a ng-href="{{gig.ticketLink}}" ng-if="gig.ticketLink" target="_blank" title="Haal hier je tickets!">
                                <i class="fa fa-lg fa-ticket"></i>
                            </a>

                            <a href="{{gig.fbEvent}}" target="_blank" title="Geef je op voor het Facebookevent!">
                                <i class="fa fa-lg fa-facebook-official"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="visible-xs">
                        <td class="details" colspan="2" ng-bind="gig.details"></td>
                        <td class="links">
                            <a ng-href="{{gig.ticketLink}}" ng-if="gig.ticketLink" target="_blank" title="Haal hier je tickets!">
                                <i class="fa fa-lg fa-ticket"></i>
                            </a>

                            <a href="{{gig.fbEvent}}" target="_blank" title="Geef je op voor het Facebookevent!">
                                <i class="fa fa-lg fa-facebook-official"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>