#live {	
	.errors {
		margin-bottom: 50px;
		border: color("error") solid 1px;
		padding: 15px;
	}
}

.agenda {
	table {
		display: table;
		border-collapse: separate;
		padding-right: 0;
	}

	td {
		border-top: 0 !important;
	}

	td.time {
		//@include pad($fg $fg2 $fg $fg);
		// @include span-columns(1 of 10);
	};

	.date {font-weight: bold;}

	.venue {
		// @include span-columns(3 of 10);

		small {
			display:block;
			color: shade(color("light"), 30);
		}
	}

	.details {
		// @include span-columns(3 of 10);
		border-left: color("backgroundColor") solid 1px;
		color: shade(color("light"), 30);
	}

	.links {
		//@include pad($fg $fg2 0 $fg);
		// @include span-columns(1 of 10);
		text-align: right;
		color: #FFF !important;

		a {
			display: inline-block;
			padding-bottom: 5px;
			border-bottom: none;

			&:last-of-type {
				margin-top: 10px;
			}
		}
	}

	.top {
		text-align: center;
		margin-bottom: 30px;
		float:none;
	}
    
    .context-buttons {
		margin-bottom: 50px;
		
		button {
			margin: 5px 0;

			&.disabled {
				opacity: 0.5;
			}
		}
	}

	.cancelled {
		.time {
			font-weight: bold;
			color: color("error");
		}
	}
}

.agendaForm {
    margin-top: 15px;
    
    label {
        display: block;
    }
}